/*#custom-nav {
    background-color: rgba(0,0,0,0);
    border: 0;
    box-shadow: none;
    z-index: 999;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkitransition: background .5s ease-in-out, opacity .5s ease;
    -moz-transition: background .5s ease-in-out, opacity .5s ease;
    transition: background .5s ease-in-out, opacity .5s ease;
}*/



/*.navbar-default .navbar-nav > li > a {
	font-size: 20px;
    top: 5px;
    left: 200px;
    background-color: transparent;
    padding: 15px;
    padding-right: 50px;
    text-decoration: none;
    color: black;
    border: none;
    font-family: "Fantasy", lucida bright;
}*/

/*#custom-nav .dropdown-menu {
    border-radius: 0;
    border: none;
    border-top: 5px solid transparent;
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding-top: 0;
}

#custom-nav .container {
    padding-top: 25px;
    padding-bottom: 25px;
    -webkit-transition: padding-top .5s ease, padding-bottom .5s ease;
    -moz-transition: padding-top .5s ease, padding-bottom .5s ease;
    transition: padding-top .5s ease, padding-top .5s ease, padding-bottom .5s ease;
}*/

.section-title h3{
	position: relative;
	font-family: "arial", sans-serif;
	color: white;
	font-size: 50px;
	/*top: 180px;*/
	left: 39%;
}

img#teemo {
    width:5%;
    height:5%;
}

/*footer {
	position: relative;
    padding: 10px;
    width: 100%;
    bottom: 0px;
    top: 250px;
    margin-top: 0px;
    background-color: black;
    background-image: url("teemo.gif");
    background-repeat: repeat-x;
    background-size: 5%;
}*/

.navbar {
    background-color: transparent;
    border: 0;
    border-radius: 0;
    box-shadow: none;
    z-index: 999;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition: background .5s ease-in-out, opacity .5s ease;
    -moz-transition: background .5s ease-in-out, opacity .5s ease;
    transition: background .5s ease-in-out, opacity .5s ease;
}

.navbar > li {
    display: inline;
    background-color: black;
    margin-right: 50px;
    top: 5px;
}

.navbar .navbar-brand{
	position: relative;
	left: 120px;
    color: grey;
    top: 5px;
    border: none;
}

.navbar .navbar-brand:hover{
    color: white;
}

.navbar .container {
	position: relative;
	left: -125px;
    padding-top: 25px;
    padding-bottom: 25px;
    -webkit-transition: padding-top .5s ease, padding-bottom .5s ease;
    -moz-transition: padding-top .5s ease, padding-bottom .5s ease;
    transition: padding-top .5s ease, padding-top .5s ease, padding-bottom .5s ease;
}
.dropdown {
/*    border: none;
    background-color: white;*/
}

.dropdown-menu {
	border-radius: 0;
    border: 0;
    border-top: 5px solid transparent;
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding-top: 0;
    /*overflow: hidden;*/
}

.dropdown-menu > li > a:hover {
    color: black;
    /*background-color: black;*/
}
/*.navbar-default {
	background-color: #e6e6e6;
}*/
.navbar-default .navbar-nav > li {
	position: relative;
	left: 200px;
}
.navbar-default .navbar-nav > li > a {
	position: relative;
	font-size: 20px;
    top: 5px;
    /*left: 200px;*/
    background-color: transparent;
    padding: 15px;
    padding-right: 50px;
    text-decoration: none;
    color: black;
    border: none;
    font-family: "Fantasy", lucida bright;
}
.navbar-default .navbar-nav > li > a:hover {
    /*top: 5px;*/
    /*left: 0px;*/
    /*background-color: black;*/
    color: grey;
}
.affix {
    top: 0;
    min-width: 100%;
    background-color: white;
    opacity: 0.9;
    -webkit-transition: background .5s ease-in-out, opacity .5s ease;
    -moz-transition: background .5s ease-in-out, opacity .5s ease;
    transition: background .5s ease-in-out, opacity .5s ease;
}

/*.navbar-fixed-top {
	opacity: 0.1;
	position: absolute;
}*/
#topPicture {
	width: 100%;
	height: 100%;
}
/*span {
	font-size: 50%;
}*/
h1 {
	font-family: "Open Sans", sans-serif;
}

h2 {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
}
h3{
	font-family: "Open Sans", sans-serif;
}
.timeline-content p {
	font-size: 15px;
}
h1.profile-title {
  font-family: "Open Sans", sans-serif;
}
.profile-button{
	text-align: center;
	box-shadow: 1px 1px 6px black;
	background-color: #7D97BC;
	position: relative;
	bottom: 225px;
	left: 50px;
	height: 50px;
	width: 35%;
	border: solid;
	border-width: 1px;
}
.profile-button p{
	font-family: "Open Sans", sans-serif;
	position: relative;
	top: 8.5px;
	color: black;
	font-weight: 400px;
	font-size: 20px;
}
#about {
	background-color: #e6e6e6;
	width: 70%;
	height: 100%;
}
ul{
	list-style: none;
}
ul li{
	display: inline;
}
img#shanesmith{
	width: 100%;
	height: 60%;
}
.linkedin{
	position: relative;
	top: -150px;
	left: 15%;
	}
.github{
	top: -150px;
	left: 30%;
}
.icon{
	position: relative;
	top: 5px;
	height: 20%;
	width: 20%;
}
/*.title{
	font-size: 15px;
	font-family: "Open Sans", sans-serif;
	display: block;
	padding-bottom: 0px;
	padding-top: 8px;
}
.title-content{
	font-size: 13px;
	font-family: "Open Sans", sans-serif;
	display: block;
	color: grey;
}*/
body {
	padding: 0px;
    margin: 0px;
	/*background-color: black;*/
}
.profile-text{
	font-family: "Open Sans", sans-serif;
	top:-250px;
	left: 43%;
	font-size: 17px;
	color: black;
	display: block;
	border: none;
	width: 55%;
}
.profile-list{
	position:relative;
	left:50px;
}
.profile-name{
	position:relative;
	left:40%;
}
.profile-pic {
	position: relative;
	/*height: 500%;*/
	/*width: 200%;*/
	height: 600px;
	/*width: 725px;*/
	left: 3%;
	top: 20px;
}

.sections {
	height: 100%;
	width: 100%;
}
#topPicture {
	width: 100%;
	height: 700px;
}

.section-about {
	position: absolute;
	height: 100%;
	width: 70%;
	top: 200px;
	left: 15%;
	box-shadow: 0px 5px 5px black;
}

.section-education {
	position: relative;
	top: 500px;
}

.section-skills {
	position: relative;
	top: 550px;
	left:2.5%;
	background-color: #e6e6e6;
	box-shadow: 1px 1px 5px black;
}

.section-projects{
	position:relative;
	
}

.experience-section{
	position: relative;
	bottom: 100px;
}

.skills-text {
	background-color: #e6e6e6;
	padding: 20px;
}

.text-in-skills{
	font-family: "Droid Serif", serif;
	display: block;
	padding: 5px;
	font-size: 15px;
	position: relative;
	background-color: #3BAFFA;
	color: white;
/*	width: 33px;
	height: 10px;*/
	text-align: center;
	box-shadow: 5px 5px 20px #888888;
}
#project-title{
	position: relative;
	left:31.5%;
	top:580px;
}
#skills-title{
	position:relative;
	left:35%;
	top:510px;
}
#work-exp-title{
	position: relative;
	left: 33%;
	top:350px;
}
.project-box{
	position: relative;
	display: block;
	top: 620px;
	height: 180px;

	background-color: #e6e6e6;
	box-shadow: 0px 0px 20px black;
}
.title-in-projects{
	font-family: "Open Sans", sans-serif;
	position: relative;
	font-size: 15px;
	top: 5px;
	color: black;
	display: block;
	/*background-color: black;*/
}
.text-in-projects{
	font-family: "Droid Serif", serif;
	position: relative;
	color: black;
	font-size: 13px;
	display: block;
	/*height: 100px;*/
}
#experience{
	position: relative;
	top:650px;
}
.text-in-experience{
	font-family: "Droid Serif", serif;
	position: relative;
	color: black;
	font-size: 13px;
	display: block;
	/*height: 100px;*/
}
#contact-title{
		position: relative;
		top: 725px;
		left: 400px;
}

/*@media only screen and (min-width: 500px) { 
	p {
		font-size: 10px;
	}
	.profile-pic {
		position: relative;
		height: 100px;
		width: 400px;
		left: 50px;
		top: 50px;
	}
	.section-about {
	position: absolute;
	height: 100%;
	width: 70%;
	top: 200px;
	left: 15%;
	padding: 0 100 0 100;
}
img#shanesmith{
	width: 50%;
	height: 60%;
}
.section-education {
	position: relative;
	top: 200px;
}
#topPicture {
	width: 100%;
	height: 50%;
}
}*/
/*@media(min-width:992px){
	.title{
		font-size: 15px;
		font-family: "Open Sans", sans-serif;
		display: block;
		padding-bottom: 0px;
		padding-top: 8px;
	}
	.title-content{
		font-size: 13px;
		font-family: "Open Sans", sans-serif;
		display: block;
		color: grey;
	}
    .icon{
		position: relative;
		top: -150px;
		height: 20%;
		width: 10%;
	}
    h1 {font-size:32px}
   /* span {font-size: 24px;}
}*/
@media(max-width:525px){
	.navbar-default .navbar-nav > li > a {
	    left: 100px;
	}
	body{
	    /*padding-top: 0px;*/
	}

	.section-about {
		position: relative;
		height: 150%;
		width: 70%;
		top: -500px;
		left: 15%;
		padding-bottom: 25px;
	}

/*    #about {
    	font-family: "Open Sans", sans-serif;
	    background-color: #e6e6e6;
	    left: 15%;
		width: 70%;
		height: 100%;
    }*/
	.profile-pic {
		position: relative;
		height: 500%;
		width: 200%;
		left: 5.5%;
		top: 20px;
	}
	.section-education {
		top: -465px;
	}
	.linkedin{
		position: relative;
		top: -450px;
		left:225%;
	}
    .github{
		top: -450px;
		left:228%;
	}
	.icon{
		position: relative;
		top: -350px;
		height: 35px;
		width: 35px;
	}
/*    .timeline-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0 0 0 4px black, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
}*/
	.title{
		font-size: 15px;
		font-family: "Open Sans", sans-serif;
		display: block;
		padding-bottom: 0px;
		padding-top: 8px;
	}
	.title-content{
		font-size: 13px;
		font-family: "Open Sans", sans-serif;
		display: block;
		color: grey;
	}
	.profile-info {
		font-family: "Open Sans", sans-serif;
		top: 25px;
	}
	.profile-list{
		top: 25px;
		font-family: "Open Sans", sans-serif;
		padding-bottom: 25px;
	}
	.profile-text{
		font-family: "Open Sans", sans-serif;
		top:0px;
		left: 17%;
		font-size: 5px;
		color: black;
		display: block;
		width: 75%;
	}
	.profile-button{
		position: relative;
		top: 10px;
		height: 50px;
		width: 100%;
		left: 0px;
		text-align: center;
		box-shadow: 1px 1px 6px black;
		background-color: #7D97BC;
	}
	.profile-button p{
		font-family: "fantasy", serif;
		position: relative;
		top: 8.5px;
		color: black;
		font-weight: 400px;
		font-size: 20px;
	}
 	p {font-size:15px;}
    h1 {font-size:26px}
    /*span {font-size: 20px;}
*/
	.section-skills {
		position: relative;
		top: -360px;
		left:5.5%;
	}

	.skills-text {
		background-color: #e6e6e6;
		padding: 20px;
	}

	.text-in-skills{
		font-family: "Droid Serif", serif;
		display: block;
		padding: 5px;
		font-size: 15px;
		position: relative;
		background-color: #3BAFFA;
		color: white;
	/*	width: 33px;
		height: 10px;*/
		text-align: center;
		box-shadow: 5px 5px 20px #888888;
	}
	#education-title{
		position: relative;
		top: -480px;
		left: -10%;
	}
	#project-title{
		position: relative;
		left:0%;
		top:-345px;
	}
	#skills-title{
		position:relative;
		left:10%;
		top:-420px;
	}
	.project-box{
		position: relative;
		display: block;
		top: -320px;
		height: 380px;
		background-color: #e6e6e6;
		box-shadow: 0px 0px 20px black;
	}
	.title-in-projects{
		font-family: "Open Sans", sans-serif;
		position: relative;
		font-size: 15px;
		top: 5px;
		color: black;
		display: block;
		/*background-color: black;*/
	}
	.text-in-projects{
		font-family: "Droid Serif", serif;
		position: relative;
		color: black;
		font-size: 10px;
		display: block;
		/*height: 100px;*/
	}
	#experience{
		position: relative;
		top:-225px;
		left:3%;
	}
	.text-in-experience{
		font-family: "Droid Serif", serif;
		position: relative;
		color: black;
		font-size: 13px;
		display: block;
		/*height: 100px;*/
	}
	#work-exp-title{
		position: relative;
		left: 0%;
		top:-250px;
	}
}
@media(min-width:526px) and (max-width:767px){
	.navbar-default .navbar-nav > li > a {
	    left: 100px;
	}
	body{
	    /*padding-top: 0px;*/
	}

	.section-about {
		position: relative;
		height: 150%;
		width: 70%;
		top: -500px;
		left: 15%;
		padding-bottom: 25px;
	}

/*    #about {
    	font-family: "Open Sans", sans-serif;
	    background-color: #e6e6e6;
	    left: 15%;
		width: 70%;
		height: 100%;
    }*/
	.profile-pic {
		position: relative;
		height: 500%;
		width: 200%;
		left: 4%;
		top: 20px;
	}
	.section-education {
		top: -465px;
	}
	.linkedin{
		position: relative;
		top: -450px;
		left:180%;
	}
    .github{
		top: -450px;
		left:190%;
	}
	.icon{
		position: relative;
		top: -350px;
		height: 50px;
		width: 50px;
	}
/*    .timeline-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0 0 0 4px black, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
}*/
	.title{
		font-size: 15px;
		font-family: "Open Sans", sans-serif;
		display: block;
		padding-bottom: 0px;
		padding-top: 8px;
	}
	.title-content{
		font-size: 13px;
		font-family: "Open Sans", sans-serif;
		display: block;
		color: grey;
	}
	.profile-info {
		font-family: "Open Sans", sans-serif;
		top: 25px;
	}
	.profile-list{
		top: 25px;
		font-family: "Open Sans", sans-serif;
		padding-bottom: 25px;
	}
	.profile-text{
		font-family: "Open Sans", sans-serif;
		top:0px;
		left: 17%;
		font-size: 5px;
		color: black;
		display: block;
		width: 75%;
	}
	.profile-button{
		position: relative;
		top: 10px;
		height: 50px;
		width: 100%;
		left: 0px;
		text-align: center;
		box-shadow: 1px 1px 6px black;
		background-color: #7D97BC;
	}
	.profile-button p{
		font-family: "fantasy", serif;
		position: relative;
		top: 8.5px;
		color: black;
		font-weight: 400px;
		font-size: 20px;
	}
 	p {font-size:15px;}
    h1 {font-size:26px}
    /*span {font-size: 20px;}
*/
	.section-skills {
		position: relative;
		top: -360px;
		left:4%;
	}

	.skills-text {
		background-color: #e6e6e6;
		padding: 20px;
	}

	.text-in-skills{
		font-family: "Droid Serif", serif;
		display: block;
		padding: 5px;
		font-size: 15px;
		position: relative;
		background-color: #3BAFFA;
		color: white;
	/*	width: 33px;
		height: 10px;*/
		text-align: center;
		box-shadow: 5px 5px 20px #888888;
	}
	#education-title{
		position: relative;
		top: -480px;
		left: -3%;
	}
	#project-title{
		position: relative;
		left:22%;
		top:-345px;
	}
	#skills-title{
		position:relative;
		left:28%;
		top:-420px;
	}
	.project-box{
		position: relative;
		display: block;
		top: -320px;
		height: 380px;

		background-color: #e6e6e6;
		box-shadow: 0px 0px 20px black;
	}
	.title-in-projects{
		font-family: "Open Sans", sans-serif;
		position: relative;
		font-size: 15px;
		top: 5px;
		color: black;
		display: block;
		/*background-color: black;*/
	}
	.text-in-projects{
		font-family: "Droid Serif", serif;
		position: relative;
		color: black;
		font-size: 12px;
		display: block;
		/*height: 100px;*/
	}
	#experience{
		position: relative;
		top:-225px;
		left:3%;
	}
	.text-in-experience{
		font-family: "Droid Serif", serif;
		position: relative;
		color: black;
		font-size: 13px;
		display: block;
		/*height: 100px;*/
	}
	#work-exp-title{
		position: relative;
		left: 25%;
		top:-250px;
	}
	
}

@media(min-width:768px) and (max-width: 991px){
	
	.navbar-default .navbar-nav > li {
		position: relative;
		left: 50px;
		top: 5px;
		padding-right: 25px;
	}
	.navbar-default .navbar-nav > li > a{
		position: relative;
		/*left: 50px;*/
		top: 5px;
		padding-right: 0px;
	}
	.navbar .container {
		position: relative;
		left: -00px;
	    padding-top: 0px;
	    padding-bottom: 0px;
	}
	.title{
		font-size: 15px;
		font-family: "Open Sans", sans-serif;
		display: block;
		padding-bottom: 0px;
		padding-top: 8px;
	}
	.title-content{
		font-size: 13px;
		font-family: "Open Sans", sans-serif;
		display: block;
		color: grey;
	}
	.profile-info {
		font-family: "Open Sans", sans-serif;
		top: 25px;
	}
	.profile-list{
		top: 25px;
		font-family: "Open Sans", sans-serif;
		padding-bottom: 25px;
	}
 	p {font-size:15px;}
    h1 {font-size:26px}
    .linkedin{
		position: relative;
		top: -150px;
	}
    .github{
		top: -150px;
	}
	.icon{
		position: relative;
		top: -150px;
		height: 15%;
		width: 15%;
	}
	.profile-text{
		font-family: "Open Sans", sans-serif;
		top:-225px;
		left: 43%;
		font-size: 10px;
		color: black;
		display: block;
		width: 55%;
	}
	.profile-text p{
		font-size: 13px;
	}
	.profile-button{
		text-align: center;
		box-shadow: 1px 1px 6px black;
		background-color: #7D97BC;
		position: relative;
		bottom: 340px;
		height: 100px;
		width: 35%;
		left: 20px;
	}
	.profile-button p{
		font-family: "fantasy", serif;
		position: relative;
		top: 8.5px;
		color: black;
		font-weight: 400px;
		font-size: 20px;
	}
	.section-about {
		position: absolute;
		height: 100%;
		width: 70%;
		top: 200px;
		left: 15%;
	}

/*	.timeline-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0 0 0 4px black, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
}*/
	.title{
		font-size: 15px;
		font-family: "Open Sans", sans-serif;
		display: block;
		padding-bottom: 0px;
		padding-top: 8px;
	}
	.title-content{
		font-size: 13px;
		font-family: "Open Sans", sans-serif;
		display: block;
		color: grey;
	}

    h1 {font-size:28px}
	.section-skills {
	position: relative;
	top: 550px;
	}	

	.skills-text {
		background-color: #e6e6e6;
		padding: 20px;
	}

	.text-in-skills{
		font-family: "Droid Serif", serif;
		display: block;
		padding: 5px;
		font-size: 15px;
		position: relative;
		background-color: #3BAFFA;
		color: white;
	/*	width: 33px;
		height: 10px;*/
		text-align: center;
		box-shadow: 5px 5px 20px #888888;
	}
	#education-title{
		position: relative;
		top: 480px;
		left: -2%;
	}
	#project-title{
		position: relative;
		left:23%;
		top:580px;
	}
	#skills-title{
		position:relative;
		left: 25%;
		top:510px;
	}
	#work-exp-title{
		position: relative;
		left: 25%;
		top:650px;
	}
	.project-box{
		position: relative;
		display: block;
		top: 620px;
		height: 270px;
		background-color: #e6e6e6;
		box-shadow: 0px 0px 20px black;
	}
	.title-in-projects{
		font-family: "Open Sans", sans-serif;
		position: relative;
		font-size: 15px;
		top: 5px;
		color: black;
		display: block;
		/*background-color: black;*/
	}
	.text-in-projects{
		font-family: "Droid Serif", serif;
		position: relative;
		color: black;
		font-size: 13px;
		display: block;
		/*height: 100px;*/
	}
	.text-in-experience{
		font-family: "Droid Serif", serif;
		position: relative;
		color: black;
		font-size: 13px;
		display: block;
		/*height: 100px;*/
	}
    /*span {font-size: 22px;}*/
}
@media(min-width:992px) and (max-width: 1199px){
	.navbar-default .navbar-nav > li {
		position: relative;
		left: 100px;
	}
	.navbar .container {
	    padding-top: 0px;
	    padding-bottom: 0px;
	}
    .linkedin{
		position: relative;
		top: -150px;
	}
    .github{
		top: -150px;
	}
	.icon{
		position: relative;
		top: -150px;
		height: 15%;
		width: 15%;
	}
	.profile-text{
		font-family: "Open Sans", sans-serif;
		top:-250px;
		left: 43%;
		font-size: 15px;
		color: black;
		display: block;
		width: 55%;
	}
	.profile-button{
		text-align: center;
		box-shadow: 1px 1px 6px black;
		background-color: #7D97BC;
		position: relative;
		bottom: 325px;
		height: 80px;
		width: 35%;
		left: 25px;
	}
	.profile-button p{
		font-family: "fantasy", serif;
		position: relative;
		top: 8.5px;
		color: black;
		font-weight: 400px;
		font-size: 20px;
	}
	.section-about {
		position: absolute;
		height: 100%;
		width: 70%;
		top: 200px;
		left: 15%;
	}

/*	.timeline-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0 0 0 4px black, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
}*/
	.title{
		font-size: 15px;
		font-family: "Open Sans", sans-serif;
		display: block;
		padding-bottom: 0px;
		padding-top: 8px;
	}
	.title-content{
		font-size: 13px;
		font-family: "Open Sans", sans-serif;
		display: block;
		color: grey;
	}

    h1 {font-size:28px}
	.section-skills {
		position: relative;
		top: 550px;
		left: 3%;
	}	

	.skills-text {
		background-color: #e6e6e6;
		padding: 20px;
	}

	.text-in-skills{
		font-family: "Droid Serif", serif;
		display: block;
		padding: 5px;
		font-size: 15px;
		position: relative;
		background-color: #3BAFFA;
		color: white;
	/*	width: 33px;
		height: 10px;*/
		text-align: center;
		box-shadow: 5px 5px 20px #888888;
	}
	#education-title{
		position: relative;
		top: 480px;
		/*left: 40%;*/

	}
	#project-title{
		position: relative;
		left:30%;
		top:580px;
	}
	#skills-title{
		position:relative;
		/*left:310px;*/
		top:510px;
	}
	#work-exp-title{
		position: relative;
		left: 28%;
		top:650px;
	}
	.project-box{
		position: relative;
		display: block;
		top: 620px;
		height: 200px;
		background-color: #e6e6e6;
		box-shadow: 0px 0px 20px black;
	}
	.title-in-projects{
		font-family: "Open Sans", sans-serif;
		position: relative;
		font-size: 15px;
		top: 5px;
		color: black;
		display: block;
		/*background-color: black;*/
	}
	.text-in-projects{
		font-family: "Droid Serif", serif;
		position: relative;
		color: black;
		font-size: 13px;
		display: block;
		/*height: 100px;*/
	}
	.text-in-experience{
		font-family: "Droid Serif", serif;
		position: relative;
		color: black;
		font-size: 13px;
		display: block;
		/*height: 100px;*/
	}
    /*span {font-size: 22px;}*/
}
@media(min-width:1200px){
    /*.linkedin{
		position: relative;
		top: -150px;
		left: 50px;
	}
    .github{
		top: -150px;
		left: 130px;
	}*/
	.icon{
		position: relative;
		top: -150px;
		height: 15%;
		width: 15%;
	}
	.title{
		font-size: 15px;
		font-family: "Open Sans", sans-serif;
		display: block;
		padding-bottom: 0px;
		padding-top: 8px;
	}
	.title-content{
		font-size: 13px;
		font-family: "Open Sans", sans-serif;
		display: block;
		color: grey;
	}
    h1 {font-size:34px}
    /*span {font-size: 26px;}*/
	#education-title{
		position: relative;
		top: 480px;
		/*left: 445px;*/
	}
	#work-exp-title{
		position: relative;
		/*left: 31%;*/
		top:650px;
	}


/*Timeline Styling*/
/*#education {
	position: relative;
	padding: 2em 0;
	margin-top: 2em;
	margin-bottom: 2em;
}

#education::before {
	//Vertical Line
	content: '';
	position: absolute;
	top: 0;
	left: 18px;
	height: 100%;
	width: 4px;
	background: #d7e4ed;
}*/
